.navbar {
  background-color: #333333;
  width: 100%;
  height: 10vh;
  padding: 1rem;
  padding-bottom: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.recipe-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.recipe-section {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #f9f9f9;
  max-width: 48%;
  background-color: #333333;
  color: white;
  border: 5px solid #ffbb00;
  font-family: sans-serif;
  font-weight: 600;
}

/* Input malti */
.malt-input {
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
  margin-bottom: 0.5rem;
}

.malt-input input {
  width: 80px;
  padding: 0.25rem;
  justify-self: end;
  border: none;
  margin-top: 1vh;
  color: #333333;
  font-family: sans-serif;
  font-weight: 600;
  background-color: white;
}

.malt-input input::placeholder {
  font-family: sans-serif;
  font-weight: 600;
  color: #333333;
}

.malt-input input:hover {
  box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 0.76);
  transform: translateY(-2px);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.confirm-button {
  padding: 0.75rem 1.5rem;
  background-color: #333333;
  color: #333333;
  background-color: #ffbb00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
  box-shadow: 0px 4px 6px 0px rgba(255, 255, 255, 0.918);
}

.confirm-button:hover {
  background-color: white;
  color: #333333;
  box-shadow: none;
  transform: translateY(5px);
}

.custom-recipe {
  background-color: white;
  color: #333333;
  border: 5px solid #333333;
  font-family: sans-serif;
  font-weight: 600;
}

.final-recipe .malt-amount {
  font-weight: bold;
}

.alcohol-content {
  margin-top: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #ffbb00;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.recipe-name {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Bottoni ricetta finale */
.button-group {
  display: flex;
  justify-content: center;
  gap: 10vh;
  margin-top: 5vh;
}

.btn-confirm {
  background-color: #333333;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  font-weight: 600;
}

.btn-confirm:hover {
  background-color: #ffbb00;
  color: #333333;
  transform: translateY(5px);
  box-shadow: none;
  border: none;
}
