.navbar-header {
  background-color: #333333;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

/* Bottone le mie ricette */
.navbar-button {
  font-family: sans-serif;
  font-weight: 400;
  background-color: #ffbb00;
  color: white;
  border: none;
  font-size: 1rem;
  margin: 5vh;
}

.navbar-button:hover {
  background-color: #ecad00;
  color: #333333;
}

.start-button {
  font-family: sans-serif;
  font-weight: 400;
  background-color: #ffbb00;
  color: white;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  margin: 5vh;
}

.start-button:hover {
  transform: translateY(-5px);
  background-color: #ecad00;
  color: #333333;
}

/* Dropdown styles */
.custom-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  display: none;
  z-index: 1000;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
}

.custom-dropdown.open {
  display: block;
}

/* Homepage container */
.homepage-container {
  background-color: #f0f0f0;
  padding: 0;
}

/* Main content area */
.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
}

/* Title styles */
.main-title {
  font-size: 10vh;
  font-weight: 600;
  color: #333333;
  margin-top: -45vh;
  font-family: sans-serif;
  margin-bottom: 2rem;
  display: inline;
  -webkit-text-stroke: 2px #ffbb00;
}

/* Logo styles */
.logo-container {
  margin: 2rem 0;
  margin-top: -25vh;
}

.homepage-logo {
  width: 900px;
  height: auto;
  opacity: var(--logo-opacity);
  transition: opacity 1s ease-in-out;
}

/* Button styles */
.start-button-container {
  display: flex;
  justify-content: center;
  margin-top: -20vh;
}

.proceed-button {
  position: fixed;
  bottom: 60px;
  right: 20px;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  color: white;
  background-color: #ffbb00;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.proceed-button:hover {
  background-color: #ecad00;
  color: #333333;
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

/* Modal styles */
.registration-modal {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

/* hamburger menu */
.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px; /* Larghezza dell'icona */
  height: 25px; /* Altezza dell'icona */
}

.bar {
  height: 4px;
  width: 100%;
  background-color: #ffbb00;
}

.dropdown-menu {
  position: absolute; /* Per assicurarti che il menu si posizioni rispetto al suo genitore */
  right: 0; /* Posiziona il menu a destra */
  top: 60px; /* Spazio dalla parte superiore */
  background-color: #f8f9fa; /* Colore di sfondo */
  border: 1px solid #ccc; /* Bordo del menu */
  border-radius: 5px; /* Angoli arrotondati */
  width: 200px; /* Larghezza del menu */
  z-index: 1000; /* Assicurati che il menu sia sopra altri elementi */

  width: 200px; /* Puoi modificare la larghezza */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.show {
  transform: translateX(0); /* Visibile quando mostrato */
}

.dropdown-menu ul {
  padding: 20px;
}

.dropdown-menu li {
  margin: 10px 0;
  cursor: pointer;
}

.dropdown-menu li:hover {
  color: #007bff; /* Cambia colore al passaggio del mouse */
}
